.m-lft-auto{
    margin-left: auto;
}
.m-top-10{
    margin-top: 10px;
}
.m-top-15{
    margin-top: 15px;
}
.m-top-20{
    margin-top: 20px;
}
.m-top-30{
    margin-top: 30px;
}
.m-tb-5{
    margin: 5px 0px;
}
.m-tb-20{
    margin: 20px 0px;
}
.m-tb-30{
    margin: 30px 0px;
}
.posRelative{
    position: relative;
}
.displayFlex{
    display: flex;
}
.displayInline{
    display: inline-block;
}
.displayLine{
    display: inline;
}
.alignMiddle{
    display: flex;
    align-items: center;
}
.rowMargin{
    margin: 0px;
}
.text-right{
    text-align: right;
}
.pad-0{
    padding: 0px;
}
.textInitial{
    text-align: initial;
}
.float-right{
    float: right;
}
.width100{
    width: 100%;
}
.list-inline{
    display: -webkit-inline-box;
    list-style: none;
}